.track {
	border: 3px solid black;
	border-radius: 20px;
	width: 800px;
	margin-top: 10px;
	background: white;
	text-align: center;
}
.brand-font
{
	font-size: 100px;
	font-family:MyFont;
	/*font-weight: bold;*/
	padding-bottom: 70px;
	margin-top: 30px;
	margin-bottom: 0;
	line-height: 50px;
	color: black;
}
.brand-font:hover
{
	color: #585858;
}
.custom-navbar
{
	margin:0 auto;
	width: 1000px;
	border-radius: 8px;
}

.mytable
{
	padding-bottom: 30px;
	margin:0 auto;
	width: 1000px;
}
.mypanel
{
	margin:0 auto;
	width: 1050px;
}

.affiche
{
	padding-top: 30px;
	margin:0 auto;
	width: 1000px;
	border-radius: 8px;
	text-align: center;
}
.carousel-style
{
	margin:0 auto;
}
.photo-style
{
	margin:0 auto;
	height: 400;
}

.contacts
{
	margin:0 auto;
	border-radius: 20px;
	margin-top: 100px;
	width: 500px;
	background: white;
	text-align: center;
}
.contacts-header
{
	font-size: 50px;
	font-family:MyFont;
}
.contacts-item
{
	font-size: 20px;
	font-weight: bold;
	font-family:MyFont;
}
.contacts-number
{
	font-size: 20px;
	font-family:MyFont;
	color: black;
}
.contacts-number::hover
{
	color: #585858
}

.fill
{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
	background-image:url(photo/dimas.png);
}
.navbar-menu-item
{
	margin-top: 25px;
	font-size: 20px;
	font-family:MyFont;
	color: black;
}
.navbar-menu-item:hover
{
	color: black;
	font-weight: bold;
}
.CenturyGothic {
	font-size: 120px;
	font-family:MyFont;
}
.font-affiche {
	font-size: 50px;
	font-family:MyFont;
}
.CenturyGothicSmall {
	font-size: 50px;
	font-family:MyFont;
	font-weight: bold;
}
.font-lyrics-style
{
	font-size: 20px;
	font-family:MyFont;
	color:black;
}
.font-lyrics-name
{
	word-wrap: break-word;
	font-size: 40px;
	font-family:MyFont;
	color:black;
	font-weight: bold;
}
.font-icon
{
	font-size: 40px;
	color: black;
}
.font-icon:hover {
	color: #585858; /* Цвет ссылки при наведении на нее курсора мыши */
	text-decoration: none; /* Добавляем подчеркивание */
}
.play-icon-style
{
	color: black;
}
.play-icon-style:hover
{
	color: black;
	color: #585858;
	text-decoration: none;
}
.addition
{
	text-align: center;
}
.addition-text
{
	font-size: 20px;
	font-family:MyFont;
	color:#989898;
}
.comment
{
	text-align: right;
	float: right;
	margin-right: 13px;
}
.comment-icon-style
{
	color: black;
	font-size: 35px;

}
.comment-icon-style:hover
{
	color: #585858;
	text-decoration: none;
}

.lyrics-in-center
{
	align:center;
}
.incenter
{
	display: block;
	margin:0 auto;
	align:center;
}
@font-face
{
	font-family:MyFont;
	src: url(century-gothic.ttf);
}

	